.cards {
    &.cards-team {
        .card:nth-child(3) ~ .card {
            @include media-breakpoint-up(md) {
                @include media-breakpoint-down(lg) {
                    margin-top: 40px;
                }
            }
        }
        .card:nth-child(4) ~ .card {
            @include media-breakpoint-up(lg) {
                margin-top: 40px;
            }
        }
        .card:nth-child(2) ~ .card {
            @include media-breakpoint-down(md) {
                margin-top: 40px;
            }
        }
    }
    &.cards-works {
        .card:nth-child(3) ~ .card {
            @include media-breakpoint-up(md) {
                margin-top: 40px;
            }
        }
        .card + .card {
            @include media-breakpoint-down(md) {
                margin-top: 50px;
            }
        }
    }
    &.cards-products {
        .card:nth-child(3) ~ .card {
            @include media-breakpoint-up(md) {
                @include media-breakpoint-down(xl) {
                    margin-top: 40px;
                }
            }
        }
        .card:nth-child(4) ~ .card {
            @include media-breakpoint-up(xl) {
                margin-top: 40px;
            }
        }
        .card:nth-child(2) ~ .card {
            @include media-breakpoint-down(md) {
                margin-top: 40px;
            }
        }
    }
    .card {
        display: flex;
        &.card-verticle {
            flex-direction: column;
        }
        .card-desc {
            display: flex;
            align-items: flex-start;
            .desc-item {
                flex: 1 0 0%;
                flex-shrink: 0;
                text-align: center;
                + .desc-item {
                    border-left: 1px solid #eee;
                }
            }
        }
    }
}
