footer {
    margin-top: 100px;
    padding-top: 19px;
    padding-bottom: 19px;
    font-size: $h4-font-size;
    text-align: center;
    border-top: 1px solid $gray-100;
    background-color: $white;
    @include media-breakpoint-up(md) {
        margin-top: 150px;
    }
    .index-page & {
        display: none;
    }
}
